/* Navbar */
.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;

}
.navbar li {
	float: left;
}

.navbar a {
	display: block;
	color: white;
	font-size: large;
	font-weight: bold;
	text-align: center;
	padding: 18px 40px;
	text-decoration: none;
}

.navbar a:hover{
	color: orange;
}

.locationicon{
	padding: 5px;
	height: 45px;
}



/* Home Page */

.homepic{
	position: fixed;
	z-index: -1;
	object-fit: cover;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.homecontainer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 20px;
	color:white;
	width: 400px;
}

.homecontainer a{
	color: white;
	text-decoration: underline;
}

.homecontainer a:hover{
	color: orange;
	text-decoration: underline;
}

/* ExploreParks */
.exploreparks {
	margin: 0;
}

.exploreparksintro{
	position: relative;
	padding: 20px;
	color: white;
	text-align: center;
}

.selectparks{
	position: relative;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 16px;
	border-radius: 4px;
	background-color: #fff;
}


.exploreparks ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.exploreparks li {
	list-style: none;
	margin: 10px;
}

.exploreparks a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 50px;
}

.exploreparkscontainer{
	position:relative;
	padding: 0px;
	width: 300px; 
	height: 350px;
	overflow:hidden;
	
}

.exploreparks img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position:absolute;
	top: 0;
	left: 0;
} 

.exploreparkscontainer p{
	position: absolute;
	box-sizing: border-box;
	text-align: center;
	color:white;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin:0;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-weight: bold;
	font-size: 20px;
}

  

/* .exploreparks a:hover {
	background-color: rgb(56, 218, 56);
	color: rgb(221, 221, 221);
} */
